################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TabularProject1/Model.bim
/TabularProject1
/.vs
/TabularProject3/.vs/TabularProject3
